<div class="footer-basic">
    <footer>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="/about"><i class="fas fa-info-circle"></i>About</a>
        </li>
        <li class="list-inline-item">
          <a href="/contactus"><i class="fas fa-phone-alt"></i>Contact us</a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/drososlalias/SaaS/blob/main/README.md" target="_blank"><i class="fas  fa-file-signature"></i>Documentation</a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/drososlalias/SaaS" target="_blank"><i class="fab fa-github"></i>Github</a>
        </li>
        <li class="list-inline-item">
          <a href="/coursematerials">
            <i class="fab fa-stack-overflow"></i>
            Course Materials
            </a>
        </li>
      </ul>
      <p class="copyright">#AskMeAnything @2021</p>
    </footer>
  </div>