<%- include('includes/head')%>
    <link rel="stylesheet" href="/footer/assets/css/Team-Boxed.css">
</head>
<%- include('includes/navbar')%>
<body>
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">SaaS-64 Team </h2>
                <p class="text-center"><br>Current project was designed and executed for the Service as a Software Class of 2021 of National and Technical University of Athens<br><br></p>
            </div>
            <div class="row justify-content-center people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="/footer/assets/img/dro.jpg">
                        <h3 class="name">Drosos Lalias</h3>
                        <p class="title">Undergraduate Student</p>
                        <p class="description">Passionate for software engineering and fullstack development&nbsp;</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <%- include('includes/footer')%>
    <%- include('includes/end')%>