<%- include("includes/head") %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
</head>
<%- include("includes/navbar") %>
<body id="page-top">
    <section style="margin-bottom: 10rem"  id="contact">
        <div class="container" style="height:650px; border: 2px solid black" >
            <h3 class="text-uppercase text-center text-secondary mb-0" style="margin-top: 20px ;">Contact us</h3>
            <div style="text-align: center;margin-top: 10px; "><p>Let us know if you need anything </p><h3 class="fa fa-star" ></h3></div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form id="contactForm" name="sentMessage" method="POST" action="/contactus">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Name</label><input class="form-control" type="text" id="name" required="" placeholder="Name"><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Email Address</label><input class="form-control" name ='email' type="email" id="email" required="" placeholder="Email Address"><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Phone Number</label><input class="form-control" type="tel" id="phone" required="" placeholder="Phone Number"><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-5 pb-2"><textarea class="form-control" id="message" name="message" required="" placeholder="Message" rows="5"></textarea><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div id="success"></div>
                        <div style="margin-bottom: 30%" class="text-center form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%- include("includes/footer") %>
    <%- include("includes/end") %>
