<%- include('includes/head') %>
    <link rel="stylesheet" href="/footer/assets/css/Features-Clean.css">
</head>
<%- include('includes/navbar') %>
<body>
    <div style="margin-bottom:50px" class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Course Materials</h2>
                <p class="text-center">Below are the main technologies we used for the #AskMeAnything project.</p>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fab fa-node icon"></i>
                    <h3 class="name">Nodejs</h3>
                    <p class="description">Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes JavaScript code outside a web browser.<br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fas fa-code-branch icon"></i>
                    <h3 class="name">ExpressJs</h3>
                    <p class="description">Express.js is a back end web application framework for Node.js. It is designed for building web applications and APIs. It has been called the de facto standard server framework for Node.js.<br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fas fa-database icon"></i>
                    <h3 class="name">MongoDB</h3>
                    <p class="description">MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas.<br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fab fa-react icon"></i>
                    <h3 class="name">EJS </h3>
                    <p class="description">React is an open-source, front end, JavaScript library for building user interfaces or UI components. React can be used as a base in the development of single-page or mobile applications.<br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="far fa-file-code icon" style="height: 40px;"></i>
                    <h3 class="name">Vscode</h3>
                    <p class="description">Visual Studio Code is a freeware source-code editor made by Microsoft for Windows, Linux and macOS. Features include support for debugging, syntax highlighting, intelligent code completion, snippets, code refactoring, and embedded
                        Git.<br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fab fa-github icon"></i>
                    <h3 class="name">GitHub</h3>
                    <p class="description">GitHub, Inc. is a provider of Internet hosting for software development and version control using Git. It offers the distributed version control and source code management functionality of Git, plus its own features.<br><br></p>
                </div>
            </div>
        </div>
    </div>
    <%- include('includes/footer') %>
    <%- include('includes/end') %>